.carousel {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // transition: 3s ease-in-out all;
  margin: 20px;
  padding: 100px;
  background-color: var(--grey-700);
  box-shadow: var(--shadow-1);
  margin-bottom: 20px;
  // min-width: 90vw;
  max-width: 90vw;
  p {
    max-width: 100%;
  }
}
