.dropdown-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.dropdown {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.5rem;
  margin: 0 10px;
}
.show-dropdown {
  visibility: visible;
}
.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  text-align: center;
  visibility: hidden;
  border-radius: var(--borderRadius);
}
