.features {
  margin: 20px;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  margin: 20px;
  .card {
    min-height: 200px;
    padding: 30px;
    background-color: var(--primary-500);
    margin: 10px 0;
    &:hover {
      transform: scale(1.1);
      transition: var(--transition);
      z-index: 8;
      background-color: var(--secondary-500);
      h3 {
        color: var(--primary-500);
      }
    }

    h3 {
      color: var(--secondary-500);
    }
    p {
      color: var(--charcoal-500);
    }
  }
}
h2 {
  color: var(--charcoal-500);
}

.collapse {
  display: block;
}

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  text-align: center;
  margin: 10px 0;
  .title {
    color: var(--primary-500);
  }
  .column {
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow3);
    background-color: var(--white);
    border: 1px solid var(--grey-200);
  }

  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.accordion-button {
  background-color: var(--primary-500) !important;
  color: var(--secondary-500);

  &:focus {
    color: var(--charcoal-500) !important;
  }
  &:not(.collapsed) {
    color: var(--charcoal-500) !important;
  }
}

.faqs button {
  background-color: var(--secondary-500) !important;
  color: var(--charcoal-500);

  &:focus {
    color: var(--primary-500) !important;
  }
  &:not(.collapsed) {
    color: var(--primary-500) !important;
  }
}

.accordion-unit {
  p {
    max-width: none;
  }
}
