.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-100);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
