.page {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  align-items: flex-start;
}

.landing {
  max-width: 100%;
}
section {
  background-color: var(--white);
  margin: 50px 0;
  padding: 20px 0;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  // scroll-behavior: smooth;
  // border-bottom: 10px solid var(--grey-400);
  box-shadow: var(--shadow-2);
  &::-webkit-scrollbar {
    display: none;
  }
  * {
    scroll-snap-align: start;
  }
  &:last-child {
    border-bottom: none;
  }
}

.btn-container {
  .btn {
    margin: 0px 10px;
  }
}

.overview-title {
  h1 {
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
    span {
      color: var(--primary-500);
    }
  }
  h2 {
    text-align: center;
  }
}

p {
  color: var(--grey-400);
}
.main-img {
  display: none;
}

@media (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .main-img {
    display: block;
    margin-top: 3rem;
  }
}
