.page {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  align-items: flex-start;
}

.btn-container {
  .btn {
    margin: 0px 10px;
  }
}

.landing-title {
  h1 {
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
    span {
      color: var(--primary-500);
    }
  }
  h2 {
    text-align: center;
  }
}

p {
  color: var(--grey-400);
}
.main-img {
  display: none;
}

@media (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .main-img {
    display: block;
    margin-top: 3rem;
  }
}
/* ` */
/* export default Wrapper */
